/* Start Global Rules */
/* Google Fonts Library */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #1758c0, #2570ef);
}

/* End Global Rules */

.container {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.header {
  width: 100%;
  padding: 25px 15px;
  background: linear-gradient(to right, #0f4aa8, #1962d5);
}

.title,
.search-box,
.profile,
.info {
    display: flex;
    align-items: center;
    
}

.title {
    margin-bottom: 20px;
    color: #e6ffff;
}

.title i {
    margin-right: 70px;
    font-size: 30px;
}

.title h3 {
    font-weight: 400;
}

.search-box {
    width: 95%;
    height: 45px;
    padding: 5px 13px;
    margin: 0 auto;
    background-color: #ffffff35;
    /* #366ec7 */
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.search-box input {
    width: 88%;
    margin-left: 2px;
    padding: 5px;
    background-color: transparent;
    color: #aecbea;
    font-weight: 500;
}

.search-box input::placeholder {
    color: #aecbea;
}

.search-box i {
    color: #aecbea;
}

.profile-box {
    width: 100%;
    padding: 15px;
    background-color: #d5ecfe;
}

.profile {
    width: 100%;
    justify-content: space-between;
    margin: 12px 0;
}

.profile:first-of-type {
    margin-top: 0;
}

.profile .info img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 3px solid #a6c4e9;
    margin-right: 8px;
    /* cursor: pointer; */
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.profile .info img:hover {
    opacity: 0.8;
}

.profile .info span {
    color: #30609c;
    font-size: 14px;
    font-weight: 600;
}

.profile button {
    width: 100px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    padding: 8px 15px;
    background: linear-gradient(to right, #0f4aa8, #1962d5);
    color: #ffffff;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgb(15 74 168 / 25%), 0 4px 8px 0 rgb(15 74 168 / 20%);
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.profile button:hover {
    opacity: 0.8;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}


.profile .followed {
  border: 1px solid #0f4aa8;
  color: #0f4aa8;
  background: transparent;
}

@media (max-width:530px) {
    .container {
        width: 95%;
    }
}




