:root {
  --white: #ffffff;
  --grey: #fafaff;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

body:-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

img:not(.card-body img),
#user-image,
#users img {
  border: 3px solid #e0e0e0 !important;
}

input,
textarea {
  background: inherit !important; 
}

.bg-dark {
  color: #ffffff !important;
}

.bg-gray-dark {
  background: #424242;
}

.navbar {
  min-height: 4rem;
}

.navbar-toggler:focus {
  box-shadow: none;
  border-color: black;
}

.navbar-brand {
  color: inherit;
}

.dropdown-menu[data-bs-popper] {
  left: -165px;
}

.dropdown-toggle::after {
  display: none;
}


.nav-link span {
  font-size: 16px;
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border-color: black;
}

.dropdown-item:focus {
  background-color: transparent !important;
}

.dropdown-item:hover span,
.dropdown-item:hover i,
.dropdown-item:hover {
  color: var(--bs-light-text) !important;
}

#logout-li a:hover span,
#logout-li a:hover i,
.delete:hover {
  color: #d82121 !important;
}

.dropdown-item span {
  font-size: 15px;
}

.nav-link i,
.nav-link img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Splash Screen */
.intro {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: inherit;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  color: inherit;
}

.logo {
  position: relative;
  bottom: -20px;
  opacity: 0;
}

.logo i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
}



/* // Splash Screen // */


#img {
  width: 35px;
  height: 35px;
}

#userInfo img {
  width: 60px;
  height: 60px;
}

.card-header {
  padding-top: 10px !important;
}

/* Loader Style */

@keyframes ldio-qkk4y8xh0w {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ldio-qkk4y8xh0w div {
  left: 47px;
  top: 24px;
  position: absolute;
  animation: ldio-qkk4y8xh0w linear 1s infinite;
  background: #ffffff !important;
  width: 6px;
  height: 12px;
  border-radius: 0px / 0px;
  transform-origin: 3px 29px;
}
.ldio-qkk4y8xh0w div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #1d0e0b;
}
.ldio-qkk4y8xh0w div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #1d0e0b;
}
.loadingio-spinner-spinner-we8eikvyd6i {
  width: 65px;
  height: 65px;
  display: inline-block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.ldio-qkk4y8xh0w {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.65);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qkk4y8xh0w div {
  box-sizing: content-box;
}


/* // Loader Style // */


.btn-send {
  color: var(--bs-body-color);
  background-color: transparent;
  border-color: var(--bs-body-color);
}

.btn-send:hover {
  color: #fff;
  background-color: var(--bs-body-color);
}

@media (max-width: 370px) {
  #user-image {
    margin-bottom: 12px;
  }

  .user-info {
    padding: 0 20px;
  }
}

@media (max-width: 576px){
  #success-alert {
    width: 95% !important;
  }
}

@media (max-width: 990px) {
  .d-sm-none {
    display: none;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .row h1 {
    margin: 8px 0 !important;
  }

  .nav-link {
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
  }

  .navbar-nav {
    margin-top: 25px;
  }

  #user-image {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 900px) {
  .dropdown-menu.post-menu {
    transform: translate3d(-128.5px, 45.5px, 0px) !important;
    -webkit-transform: translate3d(-128.5px, 45.5px, 0px) !important;
    -moz-transform: translate3d(-128.5px, 45.5px, 0px) !important;
    -ms-transform: translate3d(-128.5px, 45.5px, 0px) !important;
    -o-transform: translate3d(-128.5px, 45.5px, 0px) !important;
  }
}
