/* Google Fonts Library */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #0a192f;
}

/* Start Container */

.container {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

textarea {
    width: 100%;
    resize: none;
    background-color: #172a46;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 30px;
    padding: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #a8b2d1;
    text-align: left;
}

.container div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

p {
  color: #e5e5e5;
  margin-right: 10px;
}

/* Media Query */

@media screen and (max-width: 770px){
    .container {
        width: 95%;
    }
}

/* End Container  */