/* Start Global Rules */
/* Google Fonts Library */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  list-style: none;
  font-family: "Mulish", sans-serif;
}

body {
  min-height: 100vh;
  background: #e5e5f1;
  color: #0e0e0e;
}

body,
.wrapper,
.row,
.user,
.other-account,
.settings li,
.follow button,
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Global Rules */

.wrapper {
    width: auto;
    flex-direction: column;
}

.wrapper,
.row,
.user,
.other-account,
.settings li {
  justify-content: space-between;
}


.wrapper img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.wrapper img:hover {
    border: 2px solid #2c71f0;
}

.profile {
  display: none;
  width: 300px;
  padding: 28px 30px;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-bottom: 12px;
}

.show {
    display: block;
}

.header {
  padding-bottom: 30px;
  border-bottom: 1.3px solid #e7e7f2;
}


.name {
  font-size: 16px;
}

.account {
  font-size: 12px;
  margin-top: 2px;
}

.info {
  margin: 0 10px;
}

.follow button {
  width: 2rem;
  height: 2rem;
  padding: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  outline: none;
  border: 1.5px solid #e5e5f1;
  background-color: transparent;
}

.follow button,
.settings li ,
.toggle {
    cursor: pointer;
}

.followBtn {
    color: #2c71f0;
    border-color: #2c71f0 !important;
}

.other-account {
  margin-top: 18px;
  color: #2c71f0;
}

.other-account i {
  font-size: 22px;
}

.other-account h4 {
  font-size: 14px;

}

.settings {
  margin-top: 34px;
}

.settings ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 15px;
}

.other-account,
.settings li,
.toggle {
  justify-content: initial;
}

.settings li {
  font-size: 13px;
}

.settings li:hover {
    color: #2c71f0;
}

.settings li i {
  margin-right: 6px;
  font-size: 22px;
}

.toggle {
  width: 230px;
  padding: 10px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.toggle:hover {
    background-color: #f3f3fe;
}

.opacity {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    background-color: #f3f3fe;
}

/* Media Query */

@media (max-width: 374px) {
    body {
      padding: 12px;
    } 

    .wrapper,
    .profile {
        width: 100%;
    }

    .profile {
        padding: 30px 20px;
    }
}

/* Animation */

@keyframes open-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* animate open box */
.open {
  animation: open-animate 0.3s linear;
  -webkit-animation: open-animate 0.3s linear;
}
