/* Start Global Rules */
/* Google Fonts Library */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
}

body {
  min-height: 100vh;
  background: #e6ebf4;
  padding: 15px 0;
}

body,
.cards ,
.contect .title,
.live-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* End Global Rules */

.container {
    max-width: 1200px;
    margin: 20px 30px;
    padding: 30px 0;
    background: #f0f3f8;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.cards {
   width: 90%;
   margin: 0 auto;
   flex-wrap: wrap;
}

.card {
    width: 320px;
    height: 300.58px;
    margin: 12px;
    padding: 12px;
    background: #ffffff;
}

.card:hover {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

.contect .title {
    justify-content: space-between;
    margin: 15px 0 5px;
}

.title h3 {
    width: 80%;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.title span {
    font-size: 17px;
    font-weight: bold;
    align-self: start;
}

.contect p {
    font-size: 12px;
    font-weight: bold;
}

.image {
    width: 100%;   
    position: relative;
}

.image:hover .live-preview{
    visibility: visible;
}

img {
    width: 100%;
    height: 181.27px;
    object-fit: cover;
    z-index: 1;
}

.live-preview {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    flex-direction: column;
    visibility: hidden;
}

.live-preview button {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card:first-of-type button{
    background: #0da880;   
}

.card:nth-child(2) button{
    background: #2a3650;   
}

.card:nth-child(3) button {
    background: #c33c53;  
}

.card:nth-child(4) button{
  background: #0a0a0a;
}

.card:last-of-type button {
    background: #0da880;
}

.live-preview button a {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

/* Media Query */

@media (max-width: 990px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 1060px) {
    .card {
        width: 375px;
        height: 351.25px;
    }

    img {
        width: 100%;
        height: 237.03px;
    }
}

@media (max-width: 768px) {
    .card {
        padding-bottom: 20px;
        height: auto;
    }
}