/* Google Fonts Library */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #4db6ac;
  --body-background-color: #e0f2f1;
}

body {
  min-height: 100vh;
  background-color: var(--body-background-color);
}

input,
button {
  border: none;
  outline: none;
}

/* Start Container */
.container {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.contect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.contect .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contect .input,
.contect input[type="text"]#output {
  width: 70px;
  height: 70px;
  font-size: 20px;
  font-weight: 550;
  color: var(--main-color);
  background-color: #ffffff;
  text-align: center;
  padding: 12px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.contect .operator {
  width: fit-content;
  font-size: 20px;
  font-weight: 550;
  color: var(--main-color);
}

.contect input[type="text"]#output {
  cursor: pointer;
}

.contect input[type="text"]#output:focus {
  border: 1.5px solid var(--main-color);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result button {
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--main-color);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.result button:hover {
  background-color: #26a69a;
}

#messeage {
  width: 80%;
  height: 70px;
  margin: 20px auto;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Media Query */

@media (max-width: 358px) {
  .container {
    width: 90%;
  }

  .contect .input,
  .contect input[type="text"]#output {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 359px) and (max-width: 768px) {
  .contect {
    width: 90%;
  }
}

/* End Container */
